header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid black;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}

.logo {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 165px;
  padding: 0px 15px;
  color: mediumaquamarine;
  border: 1px solid black; /* just to help with layout. REMOVE BEFORE FINAL */
}

header ul{
  display: inline-flex;
  justify-content: space-around;
  padding-right: 40px;
}

header li {
  display: inline-flex;
  padding: 0px 15px;
}

header a {
  color: black;
}

/* main and section styles */

main,
article {
  margin: 0px;
}

main {
  position: relative;
  top: 72px;
  padding-top: 40px;
  display: inline-flex;
  flex-wrap: wrap;
}

.stories {
  display: inline-flex;
  width: 630;
  padding: 0px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image {
  display: inline-flex;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  align-items: center;
}

.image h1 {
  font-size: 40px;
}

.image.main_story {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  text-align: left;
}

.image.fall {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.image.hipster {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.image.cat {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.byline {
  height: 290px;
  width: 300px;
}
